{% load staticfiles %}
{% load compress %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static "bootstrap/dist/css/bootstrap.css" %}">

        <script src="{% static 'lib/angular.min.js' %}"></script>
        <script src="{% static 'lib/angular-resource.min.js' %}"></script>
        {% compress js %}
        <script type="text/coffeescript" charset="utf-8" src="{% static 'main.coffee' %}"></script>
        {% endcompress %}
    </head>
    <body ng-app="{% block ng_app %}migrants.main{% endblock %}">
        <div class="content" ng-controller="{% block ng_controller %}MainCtrl{% endblock %}">
            {% block content %}
            {% verbatim %}
                <div class="panel" ng-repeat="spam in spam">
                    <h1> {{spam}} </h1>
                </div>
            {% endverbatim %}
            {% endblock %}
        </div>
    </body>
</html>
